.calculadora-juros-wrapper {
	// font-size: 80%;
	background-color: #4040f4;
	color: #fff;
	font-weight: 700;
	padding: 15px 30px;
	text-align: center;
}
.calculadora-juros-info {
	display: block;
	width: 100%;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 0.5;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
}
